<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pagatodo.yaganaste">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="com.pagatodo.yaganaste.fileprovider.READ" />

    <!-- PERMISOS DEL GPS -->
    <uses-permission android:name="android.hadware.location.gps" />
    <!-- FIN DE LOS PERMISOS DEL GPS -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pagatodo.yaganaste.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.pagatodo.yaganaste.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui._controllers.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name=".ui._controllers.CupoStatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.BussinesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.AdqActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.TabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui._controllers.PaymentsProcessingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentNoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity
            android:name=".ui._controllers.LandingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui._controllers.DetailsActivity" />
        <activity android:name=".ui._controllers.OnlineTxActivity" />
        <activity android:name=".ui.otp.activities.OtpCodeActivity" />
        <activity android:name=".ui._controllers.ScannVisionActivity" />
        <activity android:name=".ui._controllers.SessionActivity" />
        <activity
            android:name=".ui._controllers.RegistryCupoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyaKKktDzaNdnjjxMFz-4jmbiUA191DCo" />

        <!--
             <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="@string/google_maps_key" />
        -->
        <!--
             <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="@string/google_maps_key" />
        -->

        <service
            android:name=".net.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.FirebaseInstanceServer"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui._controllers.PreferUserActivity"
            android:label="@string/title_activity_prefer_user"
            android:parentActivityName=".ui._controllers.TabActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagatodo.yaganaste.ui._controllers.TabActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6586b24eda23982e86678c62a9df721f3aed82b0" />

        <activity
            android:name=".ui._controllers.LandingApprovedActivity"
            android:label="@string/title_activity_landing_approved"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui._controllers.SIMActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui._controllers.manager.AddFavoritesActivity" />
        <activity android:name=".ui._controllers.manager.AddNewFavoritesActivity" />
        <activity android:name=".ui._controllers.manager.EditFavoritesActivity" />
        <activity android:name=".ui._controllers.CropActivity" />
        <activity android:name=".ui._controllers.TarjetaActivity" />
        <activity android:name=".ui._controllers.manager.DongleBatteryHome" />
        <activity android:name=".ui._controllers.manager.AddToFavoritesActivity"></activity>
    </application>

</manifest>